<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle's Test Site</title>
    <style>
        body
        {
            background-color: lavender;
        }
        .page-container
        {
            background-color: rgb(185, 215, 241);
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 3em;
        }
    </style>
</head>
<body>
    
    <div class="page-container">
        <h1>
            Hello, World.
        </h1>
        <p>
            Welcome to Lesson 1 landing page.
        </p>
        <ul>
            <li>Name of someone I know: Spencer Coulon</li>
        </ul>

        <a href="/test">Test Link</a>
        <a href="/home/people">People List</a>
    </div>
    

</body>
</html>